# Ignore temporary workspace layouts (causes 99% of merge conflicts)
.obsidian/

# Ignore local trash bin
.trash/

# Ignore heavy/hidden system or cache files
.DS_Store
*.log

draw-steel-compendium/