# Ignore temporary workspace layouts (causes 99% of merge conflicts)
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Ignore local trash bin
.trash/

# Ignore heavy/hidden system or cache files
.DS_Store
*.log